.hero-img {
  background-color: hsla(60, 10%, 8%, 0.8);
  overflow: hidden;
  border-radius: 76% 24% 65% 35% / 67% 23% 75% 33%;
  border: 1px solid #ffffff;
}
@media (min-width: 1024px) {
  .hero-img {
    width: 30rem;
    height: 13rem;
  }
}
.blobs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1000;
  overflow: hidden;
}
.blobs-glass {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(120px);
  backdrop-filter: blur(120px);
}
.blob {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0.6;
}

.blob-secondry {
  z-index: -100;
  background-color: var(--secondary-color);
}
.blob-primary {
  z-index: -101;
  background-color: var(--primary-color);
}
.blob-bg {
  background-color: var(--surface-a);
}
.welcome-section-container {
  position: relative;
  height: 75dvh;
  z-index: 1000;
}
.font-title {
  // font-family: Rakkas, sans-serif;
  font-family: "Alkalami", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1024px) {
  .blob {
    width: 60%;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}
.glow-on-hover-outlined {
  width: 25vh;
  height: 6vh;
  border: 2px solid var(--btn-outlined-color);
  outline: none;
  color: var(--btn-outlined-color);
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover {
  width: 25vh;
  height: 6vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--surface-100),
    var(--surface-200),
    var(--surface-300),
    var(--surface-400),
    var(--surface-500),
    var(--surface-600),
    var(--surface-700),
    var(--surface-800),
    var(--surface-900)
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
