.project-card {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 0.3s ease;
}
.project-card:hover {
  background-color: var(--surface-300);
  transform: translateY(-20px);
}
.for-more-link:hover {
  color: var(--primary-color);
}

.glow-on-hover-outlined {
  width: 220px;
  height: 50px;
  border: 2px solid var(--btn-outlined-color);
  outline: none;
  color: var(--btn-outlined-color);
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--surface-100),
    var(--surface-200),
    var(--surface-300),
    var(--surface-400),
    var(--surface-500),
    var(--surface-600),
    var(--surface-700),
    var(--surface-800),
    var(--surface-900)
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.subscription-card {
  background-color: var(--secondary-color);
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 0.3s ease;

  &.border-primary {
    border-color: var(--primary-color);
    border-width: 2px;
  }

  &:hover {
    background-color: var(--surface-300);
    transform: translateY(-10px);
  }
}


