.dark-theme {
  --primary-color: #ADB5BD;
  --secondary-color: #343A40;
  --surface-color: #212529;
  --surface-border: #ffffff1a;
  --surface-100: #212529;
  --surface-200: #343A40;
  --surface-300: #495057;
  --surface-400: #6C757D;
  --surface-500: #ADB5BD;
  --surface-600: #CED4DA;
  --surface-700: #DEE2E6;
  --surface-800: #E9ECEF;
  --surface-900: #F8F9FA;
  --btn-color: #15171a;
  --btn-outlined-color: #F8F9FA;
  --navbar-bg: rgb(19, 20, 20, 0.3);
}
